@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  background-color: var(--bg-color);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: var(--bg-color);
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  width: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--text-color);
}

:root {
  --bg-color: #e0e0e0;
  --text-color: #333333;
  --color-222: #bebebe;
  --color-444: #ffffff;
  --color-f73: #ffffff73;
  --color-54d: #5e68794d;
  --click-color: #0074d9;
  --click-color-dark: #0074d9;
}

.dark {
  --bg-color: #27292f;
  --text-color: #f8f8f8;
  --color-222: #33353a;
  --color-444: #1a1a1f;
  --color-f73: #08080873;
  --color-54d: #2a2f334d;
}

* {
  font-family: "Nunito Sans", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full {
  width: 860px;
  display: flex;
  justify-content: space-between;
}

form {
  padding: 30px;
  width: -moz-fit-content;
  width: fit-content;
  height: fit-content;
  display: flex;
  border-radius: 15px;
  box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222),
    inset 3px 3px 6px var(--color-444), inset -3px -3px 6px var(--color-222);
}

.second {
  font-weight: 600;
}

.second:active {
  box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222),
    inset 3px 3px 6px var(--color-222), inset -3px -3px 6px var(--color-444);
  color: var(--click-color-dark);
}

#bodyblur {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  display: none;
  z-index: 1000;
  transition: all 2s ease-in-out;
}

#bodyblur #getArrayIndex,
#bodyblur #finalEquation {
  margin-top: 8px;
  font-size: 35px;
  line-height: 10px;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: auto;
  text-align: left;
  letter-spacing: 2px;
  white-space: nowrap;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -5px -5px 9px var(--color-f73), 5px 5px 9px var(--color-54d);
}

#bodyblur #getArrayIndex::after,
#bodyblur #finalEquation::after {
  content: "";
  position: absolute;
  height: 70px;
  width: 590px;
  background-color: transparent;
  border-radius: 12px;
  box-shadow: inset -5px -5px 9px var(--color-f73),
    inset 5px 5px 9px var(--color-54d);
}

#bodyblur #finalEquation {
  height: 80px;
  width: 600px;
}

#bodyblur #finalEquation::after {
  height: 70px;
  width: 590px;
}

#bodyblur #getArrayIndex {
  height: 80px;
  width: 80px;
}

#bodyblur #getArrayIndex::after {
  height: 70px;
  width: 70px;
}

#bodyblur #finalEquation .closediv {
  border-radius: 50px;
  border: 4px solid #f3f4f7;
  display: flex;
  align-items: center;
  justify-content: flex;
  background: #0074d9;
  margin-right: 4px;
  width: 30px;
  height: 30px;
  box-shadow: 5px 5px 15px rgba(55, 84, 170, 0.15),
    -5px -5px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 5px 5px 15px rgba(55, 84, 170, 0.15),
    0px 0px 4px rgba(255, 255, 255, 0.2) !important;
}

#bodyblur #finalEquation .closediv .popupclose {
  box-shadow: none;
  background: transparent !important;
  border: none;
  display: flex;
  align-items: center;
  justify-content: flex;
  font-size: 20px;
  text-align: center;
  color: #ededed;
  text-shadow: 5px 5px 15px rgba(55, 84, 170, 0.15),
    -5px -5px 20px rgba(255, 255, 255, 1),
    inset 0px 0px 4px rgba(255, 255, 255, 0),
    inset 5px 5px 15px rgba(55, 84, 170, 0.15),
    0px 0px 4px rgba(255, 255, 255, 0.2) !important;
}

#display {
  height: 60px;
  width: 340px;
  font-size: 30px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: right;
  box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222),
    inset 3px 3px 6px var(--color-222), inset -3px -3px 6px var(--color-444);
  letter-spacing: 2px;
}

#display:active {
  text-shadow: none;
  color: var(--text-color);
}

.memoDisplay {
  height: 40px;
  width: 350px;
  font-size: 30px;
  padding: 13px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: right;
  box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222),
    inset 3px 3px 6px var(--color-222), inset -3px -3px 6px var(--color-444);
  letter-spacing: 2px;
}

.memoDisplay:active {
  text-shadow: none;
}

.operator {
  font-size: 23px;
  font-weight: 700;
}

#displayHistory {
  margin-top: 8px;
  height: 60px;
  width: 215px;
  font-size: 24px;
  padding: 0px 5px 0px 10px;
  line-height: 55px;
  border-radius: 5px;
  margin-bottom: 15px;
  overflow: auto;
  text-align: left;
  box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222),
    inset 3px 3px 6px var(--color-222), inset -3px -3px 6px var(--color-444);
  letter-spacing: 2px;
  white-space: nowrap;
}

#prevButton,
#nextButton {
  width: 40px;
  height: 60px;
}

#equal {
  height: 96px;
  margin-bottom: -264px;
}

.clear {
  height: 60px;
  width: 70px;
  font-size: 30px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  margin-bottom: 5px;
  text-align: center;
  box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222),
    inset 3px 3px 6px var(--color-444), inset -3px -3px 6px var(--color-222);
  font-weight: 700;
}

.clear:active {
  box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222),
    inset 3px 3px 6px var(--color-222), inset -3px -3px 6px var(--color-444);
  color: var(--click-color);
}

tr {
  display: flex;
  justify-content: space-between;
}

input,
.arrowButtons,
.dark-light {
  width: 70px;
  height: 40px;
  margin: 8px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  text-overflow: ellipsis;
  box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222),
    inset 3px 3px 6px var(--color-444), inset -3px -3px 6px var(--color-222);
}

input:active,
.arrowButtons:active,
.dark-light:active {
  box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222),
    inset 3px 3px 6px var(--color-222), inset -3px -3px 6px var(--color-444);
  color: var(--click-color);
}

.arrowButtons {
  line-height: 100%;
  font-size: 35px;
  font-weight: 600;
}

#backspace {
  width: 70px;
  height: 40px;
  margin-top: 6px;
  margin-bottom: -20px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222),
    inset 3px 3px 6px var(--color-444), inset -3px -3px 6px var(--color-222);
  font-weight: 700;
}

#backspace:active {
  box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222),
    inset 3px 3px 6px var(--color-222), inset -3px -3px 6px var(--color-444);
  color: var(--click-color);
}

.bottom {
  width: 78px;
  font-weight: 700;
}

#hist {
  margin-top: 7px;
  font-weight: 800;
  height: 60px;
}

#myList {
  margin-top: 15px;
  height: 45px;
  width: 333px;
  font-size: 30px;
  padding-top: 4px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: left;
  box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222),
    inset 3px 3px 6px var(--color-222), inset -3px -3px 6px var(--color-444);
  letter-spacing: 2px;
}

.clearhis,
.bold {
  font-weight: 800;
}

.small {
  font-size: large;
  font-weight: 700;
}

.highlight {
  background-color: yellow;
}

.prev {
  background-image: url("SVGs/chevron-left.svg");
  background-repeat: no-repeat;
  background-position: right center;
  /* Adjust the position as needed */
  padding-right: 20px;
  /* Adjust the padding to accommodate the SVG image */
}

.toogle-container {
  width: 180px !important;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: transparent;
  border-radius: 15px;
  box-shadow: -5px -5px 9px var(--color-f73), 5px 5px 9px var(--color-54d);
}

.toogle-container::after {
  content: "";
  position: absolute;
  height: 26px;
  width: 176px !important;
  background-color: transparent;
  border-radius: 15px;
  box-shadow: inset -5px -5px 9px var(--color-f73),
    inset 5px 5px 9px var(--color-54d);
}

#toggle-btn {
  width: -moz-fit-content;
  width: fit-content !important;
  height: 30px;
  font-size: 14px;
  z-index: -1000;
  text-align: center;
  background: transparent !important;
  border: none;
  padding: 0 20px 0 20px;
  z-index: 1000;
}
