@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --bg-color: #e0e0e0;
    --text-color: #333333;
    --color-222: #bebebe;
    --color-444: #ffffff;
    --click-color: #0074D9;
    --click-color-dark: #0074D9;
}
  
.dark {
    --bg-color: #27292f;
    --text-color: #f8f8f8;
    --color-222: #212328;
    --color-444: #2d2f36;
}

* {
    font-family: 'Barlow', sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.full {
    width: 860px;
    display: flex;
    justify-content: space-between;
}

form {
    padding: 30px;
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    display: flex;
    border-radius: 15px;
	box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222), inset 3px 3px 6px var(--color-444), inset -3px -3px 6px var(--color-222);
}

.second {
    font-weight: 600;
}

.second:active {
	box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222), inset 3px 3px 6px var(--color-222), inset -3px -3px 6px var(--color-444);
	color: var(--click-color-dark);
}

#display {
    height: 60px;
    width: 289px;
    font-size: 30px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: right;
	box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222), inset 3px 3px 6px var(--color-222), inset -3px -3px 6px var(--color-444);
    letter-spacing: 2px;
}

#display:active {
	text-shadow: none;
    color: var(--text-color);
}

.memoDisplay {
    height: 40px;
    width: 350px;
    font-size: 30px;
    padding: 13px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: right;
	box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222), inset 3px 3px 6px var(--color-222), inset -3px -3px 6px var(--color-444);
    letter-spacing: 2px;
}

.memoDisplay:active {
	text-shadow: none;
}

.operator {
    font-size: 30px;
}

#displayHistory {
    margin-top: 8px;
    height: 555px;
    width: 333px;
    font-size: 30px;
    line-height: 45px;
    padding-top: 0px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: auto;
    text-align: left;
	box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222), inset 3px 3px 6px var(--color-222), inset -3px -3px 6px var(--color-444);
    letter-spacing: 2px;
}

#equal {
    height: 227px;
    margin-bottom: -264px;
}

.clear {
    height: 60px;
    width: 80px;
    font-size: 30px;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    margin-bottom: 5px;
    text-align: center;
	box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222), inset 3px 3px 6px var(--color-444), inset -3px -3px 6px var(--color-222);
    font-weight: 700;
}

.clear:active {
	box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222), inset 3px 3px 6px var(--color-222), inset -3px -3px 6px var(--color-444);
	color: var(--click-color);
}

tr {
    display: flex;
    justify-content: space-between;
}

input, .dark-light {
    width: 80px;
    height: 45px;
    margin: 8px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    text-overflow: ellipsis;
	box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222), inset 3px 3px 6px var(--color-444), inset -3px -3px 6px var(--color-222);
}

input:active, .dark-light:active {
	box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222), inset 3px 3px 6px var(--color-222), inset -3px -3px 6px var(--color-444);
	color: var(--click-color);
}

#backspace {
    width: 80px;
    height: 50px;
    margin-top: 6px;
    margin-bottom: -20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
	box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222), inset 3px 3px 6px var(--color-444), inset -3px -3px 6px var(--color-222);
    font-weight: 700;
}

#backspace:active {
	box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222), inset 3px 3px 6px var(--color-222), inset -3px -3px 6px var(--color-444);
	color: var(--click-color);
}

.bottom {
    width: 78px;
    font-weight: 700;
}

#hist {
    margin-top: 7px;
}

#myList {
    margin-top: 15px;
    height: 45px;
    width: 333px;
    font-size: 30px;
    padding-top: 4px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: left;
	box-shadow: -5px -5px 15px var(--color-444), 3px 3px 9px var(--color-222), inset 3px 3px 6px var(--color-222), inset -3px -3px 6px var(--color-444);
    letter-spacing: 2px;
}

.clearhis {
    font-weight: 900;
}

.highlight {
  background-color: yellow;
}